<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/1010/Image/c30030.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,0},{734,650}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{736,650}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,0},{610,250}}</string>
				<key>offset</key>
				<string>{-62,-32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,0},{610,250}}</string>
				<key>offset</key>
				<string>{-62,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,610},{613,228}}</string>
				<key>offset</key>
				<string>{-64,-36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30035.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,610},{613,213}}</string>
				<key>offset</key>
				<string>{-64,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30036.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1223},{606,207}}</string>
				<key>offset</key>
				<string>{-60,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30037.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,851},{606,195}}</string>
				<key>offset</key>
				<string>{-60,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30038.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1829},{611,201}}</string>
				<key>offset</key>
				<string>{-63,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30039.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,650},{611,201}}</string>
				<key>offset</key>
				<string>{-63,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30040.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,851},{609,189}}</string>
				<key>offset</key>
				<string>{-62,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30041.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,650},{609,189}}</string>
				<key>offset</key>
				<string>{-62,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30042.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,839},{489,192}}</string>
				<key>offset</key>
				<string>{-2,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30043.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,1040},{486,192}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30044.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1046},{486,190}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30045.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1046},{252,190}}</string>
				<key>offset</key>
				<string>{117,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>1010_2.png</string>
			<key>realTextureFileName</key>
			<string>1010_2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>