<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/1010/Image/c10001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1550,1759},{173,137}}</string>
				<key>offset</key>
				<string>{-103,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1334,1811},{173,137}}</string>
				<key>offset</key>
				<string>{-103,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10003.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,1491},{217,114}}</string>
				<key>offset</key>
				<string>{-67,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10004.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,1605},{217,114}}</string>
				<key>offset</key>
				<string>{-67,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1334,1583},{216,114}}</string>
				<key>offset</key>
				<string>{-69,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1334,1697},{216,114}}</string>
				<key>offset</key>
				<string>{-69,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10007.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,650},{349,183}}</string>
				<key>offset</key>
				<string>{-20,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1414,663},{349,183}}</string>
				<key>offset</key>
				<string>{-20,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10009.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1266},{341,209}}</string>
				<key>offset</key>
				<string>{23,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10010.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,650},{341,209}}</string>
				<key>offset</key>
				<string>{23,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,650},{340,178}}</string>
				<key>offset</key>
				<string>{24,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,1012},{340,178}}</string>
				<key>offset</key>
				<string>{24,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,1137},{340,178}}</string>
				<key>offset</key>
				<string>{24,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10014.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,991},{252,140}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10015.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,982},{252,140}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c10016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,833},{252,140}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,209}</string>
			</dict>
			<key>Animation/1010/Image/c20001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,663},{226,127}}</string>
				<key>offset</key>
				<string>{13,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,889},{226,127}}</string>
				<key>offset</key>
				<string>{13,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,1290},{226,127}}</string>
				<key>offset</key>
				<string>{13,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,1516},{223,127}}</string>
				<key>offset</key>
				<string>{18,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,1499},{223,127}}</string>
				<key>offset</key>
				<string>{18,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20006.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1626},{223,127}}</string>
				<key>offset</key>
				<string>{18,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20007.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1607},{291,149}}</string>
				<key>offset</key>
				<string>{86,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20008.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,833},{291,149}}</string>
				<key>offset</key>
				<string>{86,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20009.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,650},{463,170}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20010.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,650},{463,170}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1736,652},{485,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1290},{485,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1775},{485,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,650},{485,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1243,1052},{224,157}}</string>
				<key>offset</key>
				<string>{13,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c20016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1572,1535},{224,157}}</string>
				<key>offset</key>
				<string>{13,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,176}</string>
			</dict>
			<key>Animation/1010/Image/c30001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1137},{363,129}}</string>
				<key>offset</key>
				<string>{-61,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30002.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1137},{435,103}}</string>
				<key>offset</key>
				<string>{-92,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1912,652},{638,129}}</string>
				<key>offset</key>
				<string>{12,-48}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,0},{652,77}}</string>
				<key>offset</key>
				<string>{23,-47}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1736,0},{652,223}}</string>
				<key>offset</key>
				<string>{42,-79}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30006.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,1659},{142,177}}</string>
				<key>offset</key>
				<string>{237,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30007.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,1437},{189,223}}</string>
				<key>offset</key>
				<string>{134,-79}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,973},{268,223}}</string>
				<key>offset</key>
				<string>{174,-79}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30009.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1240},{196,223}}</string>
				<key>offset</key>
				<string>{143,-79}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30010.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,1241},{196,223}}</string>
				<key>offset</key>
				<string>{143,-79}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30011.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,1374},{190,223}}</string>
				<key>offset</key>
				<string>{146,-79}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30012.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1436},{190,223}}</string>
				<key>offset</key>
				<string>{146,-79}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,1276},{190,223}}</string>
				<key>offset</key>
				<string>{146,-79}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1268,828},{224,137}}</string>
				<key>offset</key>
				<string>{171,-45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30015.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,1240},{251,186}}</string>
				<key>offset</key>
				<string>{184,-56}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30016.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1122},{252,188}}</string>
				<key>offset</key>
				<string>{185,-56}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,1477},{231,175}}</string>
				<key>offset</key>
				<string>{187,-55}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,1352},{231,173}}</string>
				<key>offset</key>
				<string>{187,-54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30019.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1597},{230,173}}</string>
				<key>offset</key>
				<string>{187,-54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,1708},{231,173}}</string>
				<key>offset</key>
				<string>{187,-54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,1115},{210,146}}</string>
				<key>offset</key>
				<string>{177,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,1325},{210,146}}</string>
				<key>offset</key>
				<string>{177,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,1739},{210,146}}</string>
				<key>offset</key>
				<string>{177,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30024.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,1822},{210,146}}</string>
				<key>offset</key>
				<string>{177,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30025.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,1801},{210,146}}</string>
				<key>offset</key>
				<string>{177,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,1722},{164,146}}</string>
				<key>offset</key>
				<string>{160,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,0},{663,319}}</string>
				<key>offset</key>
				<string>{28,-75}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30028.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,0},{701,650}}</string>
				<key>offset</key>
				<string>{20,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
			<key>Animation/1010/Image/c30029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{716,650}}</string>
				<key>offset</key>
				<string>{13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,650}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>1010_1.png</string>
			<key>realTextureFileName</key>
			<string>1010_1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>