<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/1009/Image/b10001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,1376},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1707,1405},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1393},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10004.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1393},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10005.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1393},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10006.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1539},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10007.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1685},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1831},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10009.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1831},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10010.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,1428},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10011.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,1428},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,1428},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10013.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,1574},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10014.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,1720},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,1522},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1589,1551},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,1668},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1589,1697},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b10019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1735,1697},{335,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{335,146}</string>
			</dict>
			<key>Animation/1009/Image/b20001.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,552},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1062,552},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,719},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1748,719},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,736},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20006.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,736},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20007.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,771},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,771},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,938},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,1062},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,955},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20012.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,955},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20013.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,990},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,990},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,1157},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1174},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20017.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1174},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20018.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1209},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b20019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,1209},{343,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,219}</string>
			</dict>
			<key>Animation/1009/Image/b30001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{719,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{719,184}</string>
			</dict>
			<key>Animation/1009/Image/b30002.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,0},{719,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{719,184}</string>
			</dict>
			<key>Animation/1009/Image/b30003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,0},{719,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{719,184}</string>
			</dict>
			<key>Animation/1009/Image/b30004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1622,0},{719,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{719,184}</string>
			</dict>
			<key>Animation/1009/Image/b30005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1806,0},{719,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{719,184}</string>
			</dict>
			<key>Animation/1009/Image/b30006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{719,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{719,184}</string>
			</dict>
			<key>Animation/1009/Image/b30007.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,184},{719,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{719,184}</string>
			</dict>
			<key>Animation/1009/Image/b30008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{719,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{719,184}</string>
			</dict>
			<key>Animation/1009/Image/b30009.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,368},{719,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{719,184}</string>
			</dict>
			<key>Animation/1009/Image/b30010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,552},{719,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{719,184}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>1009_1.png</string>
			<key>realTextureFileName</key>
			<string>1009_1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>