<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/1003/Image/pthc0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{203,167}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,167}</string>
			</dict>
			<key>Animation/1003/Image/pthc0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,0},{192,167}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,167}</string>
			</dict>
			<key>Animation/1003/Image/pthc0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,0},{190,167}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,167}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>1003.png</string>
			<key>realTextureFileName</key>
			<string>1003.png</string>
			<key>size</key>
			<string>{1024,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>