<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/1005/Image/xsty0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,650},{138,153}}</string>
				<key>offset</key>
				<string>{2,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,235},{105,227}}</string>
				<key>offset</key>
				<string>{-9,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,917},{103,234}}</string>
				<key>offset</key>
				<string>{-10,-42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,922},{102,241}}</string>
				<key>offset</key>
				<string>{-10,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{112,260}}</string>
				<key>offset</key>
				<string>{4,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,0},{112,263}}</string>
				<key>offset</key>
				<string>{4,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,800},{117,272}}</string>
				<key>offset</key>
				<string>{5,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,282},{149,265}}</string>
				<key>offset</key>
				<string>{-9,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,547},{149,265}}</string>
				<key>offset</key>
				<string>{-9,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,696},{149,264}}</string>
				<key>offset</key>
				<string>{-9,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,845},{149,264}}</string>
				<key>offset</key>
				<string>{-9,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,282},{153,259}}</string>
				<key>offset</key>
				<string>{-11,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,541},{153,259}}</string>
				<key>offset</key>
				<string>{-11,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{154,320}}</string>
				<key>offset</key>
				<string>{10,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{154,320}}</string>
				<key>offset</key>
				<string>{10,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,640},{154,282}}</string>
				<key>offset</key>
				<string>{10,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,0},{154,282}}</string>
				<key>offset</key>
				<string>{10,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,260},{115,235}}</string>
				<key>offset</key>
				<string>{0,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,0},{115,235}}</string>
				<key>offset</key>
				<string>{0,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,0},{123,188}}</string>
				<key>offset</key>
				<string>{2,-67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
			<key>Animation/1005/Image/xsty0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,462},{123,188}}</string>
				<key>offset</key>
				<string>{2,-67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,322}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>1005.png</string>
			<key>realTextureFileName</key>
			<string>1005.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>