<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/1011/Image/yz0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1494},{898,529}}</string>
				<key>offset</key>
				<string>{40,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,659}</string>
			</dict>
			<key>Animation/1011/Image/yz0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,578},{898,572}}</string>
				<key>offset</key>
				<string>{40,-39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,659}</string>
			</dict>
			<key>Animation/1011/Image/yz0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,1476},{898,572}}</string>
				<key>offset</key>
				<string>{40,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,659}</string>
			</dict>
			<key>Animation/1011/Image/yz0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,0},{916,578}}</string>
				<key>offset</key>
				<string>{3,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,659}</string>
			</dict>
			<key>Animation/1011/Image/yz0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,578},{916,578}}</string>
				<key>offset</key>
				<string>{3,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,659}</string>
			</dict>
			<key>Animation/1011/Image/yz0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{931,578}}</string>
				<key>offset</key>
				<string>{3,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,659}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>1011_9.png</string>
			<key>realTextureFileName</key>
			<string>1011_9.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>