<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Animation/1011/Image/dazhao0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1691,1918},{232,130}}</string>
				<key>offset</key>
				<string>{-795,-128}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,853},{232,130}}</string>
				<key>offset</key>
				<string>{-795,-128}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1013},{232,130}}</string>
				<key>offset</key>
				<string>{-795,-128}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1691,1779},{294,139}}</string>
				<key>offset</key>
				<string>{-705,-122}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1704,1105},{294,139}}</string>
				<key>offset</key>
				<string>{-705,-122}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,587},{293,139}}</string>
				<key>offset</key>
				<string>{-711,-122}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,712},{293,139}}</string>
				<key>offset</key>
				<string>{-711,-122}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,714},{293,139}}</string>
				<key>offset</key>
				<string>{-705,-122}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,726},{293,139}}</string>
				<key>offset</key>
				<string>{-705,-122}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1211,1438},{421,129}}</string>
				<key>offset</key>
				<string>{-640,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,1888},{405,131}}</string>
				<key>offset</key>
				<string>{-398,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1888,1221},{393,131}}</string>
				<key>offset</key>
				<string>{-155,-112}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1674,723},{382,129}}</string>
				<key>offset</key>
				<string>{89,-112}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,330},{397,129}}</string>
				<key>offset</key>
				<string>{111,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,459},{383,128}}</string>
				<key>offset</key>
				<string>{127,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,0},{422,129}}</string>
				<key>offset</key>
				<string>{-180,-112}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,1648},{407,131}}</string>
				<key>offset</key>
				<string>{-422,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1888,827},{394,131}}</string>
				<key>offset</key>
				<string>{-665,-112}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,330},{382,129}}</string>
				<key>offset</key>
				<string>{-908,-112}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,330},{398,129}}</string>
				<key>offset</key>
				<string>{-931,-112}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,330},{384,128}}</string>
				<key>offset</key>
				<string>{-947,-112}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0037.png</key>
			<dict>
				<key>frame</key>
				<string>{{1211,1567},{421,129}}</string>
				<key>offset</key>
				<string>{-931,-112}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{1888,422},{405,131}}</string>
				<key>offset</key>
				<string>{-690,-112}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0039.png</key>
			<dict>
				<key>frame</key>
				<string>{{1704,330},{393,131}}</string>
				<key>offset</key>
				<string>{-447,-112}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,330},{382,129}}</string>
				<key>offset</key>
				<string>{-203,-112}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,728},{197,113}}</string>
				<key>offset</key>
				<string>{-62,-135}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,865},{197,113}}</string>
				<key>offset</key>
				<string>{-62,-135}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,851},{247,162}}</string>
				<key>offset</key>
				<string>{-104,-115}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,853},{247,162}}</string>
				<key>offset</key>
				<string>{-104,-115}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0045.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,1696},{259,192}}</string>
				<key>offset</key>
				<string>{-110,-102}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0046.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,1438},{256,210}}</string>
				<key>offset</key>
				<string>{-118,-90}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0047.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1736},{322,291}}</string>
				<key>offset</key>
				<string>{-145,-120}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0048.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1441},{804,328}}</string>
				<key>offset</key>
				<string>{57,-100}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0049.png</key>
			<dict>
				<key>frame</key>
				<string>{{1211,330},{778,334}}</string>
				<key>offset</key>
				<string>{-30,-103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0050.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,1108},{680,330}}</string>
				<key>offset</key>
				<string>{79,-101}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0051.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,330},{847,330}}</string>
				<key>offset</key>
				<string>{162,-101}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0052.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,0},{915,330}}</string>
				<key>offset</key>
				<string>{196,-101}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0053.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{982,330}}</string>
				<key>offset</key>
				<string>{230,-101}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0054.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1769},{964,269}}</string>
				<key>offset</key>
				<string>{307,-70}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0055.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1177},{1024,264}}</string>
				<key>offset</key>
				<string>{345,-68}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
			<key>Animation/1011/Image/dazhao0111.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1441},{407,295}}</string>
				<key>offset</key>
				<string>{150,-89}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2338,593}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>1011_1.png</string>
			<key>realTextureFileName</key>
			<string>1011_1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>